/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

.logo {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px;
  align-items: center;
}

.styled-heading {
  font-family: 'courier new', courier, monospace;
  font-size: 20px;
  font-weight: 700;
  color: #1a5e1f;
  margin-bottom: 5px;
  text-align: center;
  font-style: italic;
}

.heading {
  font-size: 20px;
  color: #000000;
  margin-bottom: 80px;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

.item-name {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 45px;
  color: #000000;
}

.item-image {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #000000;
  object-fit: cover;
}

.item-text {
  margin-left: 20px;
  width: 100%;
}

.item-price {
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}

.item-description {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 250px; */
}

.item-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding-top: 15px; */
}

.circular-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1b701c; /* Change the background color as needed */
  color: #ffffff; /* Change the text color as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
}

.order-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

.order-popup {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.order-popup h2 {
  margin-bottom: 10px;
}

.order-popup ul {
  list-style: none;
  padding: 0;
}

.order-popup li {
  margin-bottom: 8px;
}

.order-popup button {
  padding: 10px 20px;
  background-color: #147321;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-popup button:hover {
  background-color: #2980b9;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.cart-button {
  justify-content: space-between;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  background-color: #1a5e1f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
}